* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    block-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: #3C3B3F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #605C3C, #3C3B3F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.spn {
    display: flex;
    border: 2px solid steelblue;
}

.image {
    box-shadow: 0 0 5px black;
    border: 2px solid steelblue ;
    position: sticky;
    /* left: 2%; */
    margin: 2%;
    width: 33%;
}

.vc {
    position: sticky;
    margin: 2%;
    left: 35%;
    width: auto;
}