
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    color: rgb(189, 189, 233);
    text-shadow: 1px 1px 1px black;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #3a6186, #89253e);
}

@media (max-width: 640px) {
    body {
        font-size: 12px;
    }
}

h1,
h2 {
    margin: 1% 0%;
    color: #dbcccc;
}

p{
    padding: 0.2em;
}

button {
    clear: both;
    border-radius: 5px;
    border-style: groove;
    border-color: #fd9d9da9;
    background-color: #3a6186;
    margin: 1% 0%;
    padding: 0 10px;
    min-width: fit-content;
    height: 25px;
}

button:hover {
    border-color: #fde79da9;
    opacity: 0.7;
    color: #fde79da9;
    cursor: pointer;
}

button:active {
    border-color: #fde79da9;
    opacity: 0.3;
    color: #fde79da9;
    cursor: pointer;
}

#vc {
    border-radius: 10px;
    border-style: groove;
    border-color: #fd9d9da9;
    box-sizing: border-box;
    min-height: 400px;
    margin: 2%;
    padding: 2%;
    font-size: large;
}

@media (max-width: 640px) {
    #vc {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border-style: groove;
        border-color: #fd9d9da9;
        box-sizing: border-box;
        margin: 1%;
        padding: 1%;
        text-align: center;
    }
}

.image {
    float: left;
    box-shadow: 0 0 5px black;
    margin-right: 3%;
    height: 320px;
    width: fit-content;
}

@media (max-width: 640px) {
    .image {
        float: none;
        margin: 0;

    }
}

#endvc {
    clear: both;
    color: rgb(189, 189, 233);
}

#info {
    font-size: 16px;
}

@media (max-width: 640px) {
    #info {
        font-size: 11px;
    }
}

.card {
    border-style: groove;
    border-radius: 10px;
    border-color: #3a6186;
    background: linear-gradient(330deg, rgba(58, 97, 134, 0.7), rgba(137, 37, 62, 0.7));
    margin: 2%;
    padding: 2%;
}

@media (max-width: 640px) {
    .card {
        margin: 1%;
        padding: 1%;
    }
}

.certs {
    height: 17vmax;
}

.cert_image {

    box-shadow: 0 0 5px black;
    margin-right: 3%;
    height: 15vmax;
}

.cert_image:hover {
    z-index: 10;
}

ul {
    list-style-position: inside;
    list-style-type: "* ";
}

thead th,
tfoot th,
tfoot td,
tbody,
thead,
tfoot {
    width: 5%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5));
    height: 2em;
    padding: 2px;
    text-align: center;
}

#email,
#name {
    background-color: rgb(189, 189, 233);
    border-radius: 5px;
    margin: 1% 0 1%;
    padding: 0.5% 0 0.5%;
    width: 100%;
}

#msg {
    background-color: rgb(189, 189, 233);
    border-radius: 5px;
    margin-top: 1%;
    padding: 0.5%;
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 640px) {
    .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}
