@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: rgb(189, 189, 233);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background: linear-gradient(to right, #3a6186, #89253e);
}

span {
    display: flex;
    block-size: auto;
    margin-top: 1%;
}

h2 {
    margin: 1% 0%;

}

p, a {
    padding: 5%;
    color: rgb(189, 189, 233);
}

button{
    clear: both;
    border-radius: 5px;
    border-style: groove;
    border-color: #fd9d9da9;
    background-color: #3a6186;
    color: rgb(189, 189, 233);
    margin: 1% 0%;
    padding: 0 10px;
    min-width: fit-content;
    max-width: 25%;
    height: 5vw;
}

ul {
    list-style-position: inside;
    list-style-type: '* ';
}

/* graphics and colors */
thead th,
tfoot th,
tfoot td,
tbody,
thead,
tfoot {
    width: 5%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5));
    color: rgb(189, 189, 233);    text-shadow: 1px 1px 1px black;
}

.image {
    box-shadow: 0 0 5px black;
    align-self: flex-start;
    margin: 2%;
    width: 33%;
}

.vc {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border-style: groove;
    border-color: #fd9d9da9;
    position: static;
    margin: 2%;
    width: 65%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #dbcccc;
}

.info {
    font-size: larger;
}

.card {
    border-style: groove;
    border-radius: 10px;
    border-color: #3a6186;
    background: linear-gradient(270rad, #3a6186, #89253e);
    margin: 2%;
    padding: 2%;
}

#endvc {
    color: rgb(189, 189, 233);
}

#email, #name{
    background-color: rgb(189, 189, 233);
    border-radius: 5px;
    margin: 1% 0 1%;
    padding: 1% 0 1%;
    width: 100%;
}

#msg {
    background-color: rgb(189, 189, 233);
    border-radius: 5px;
    margin-top: 1%;
    padding: 1%;
    width: 100%;
    height: 5%;
}
